.obstacle {
  width: 150px;
  height: 250px;
  border-radius: 4px;
  background-color: #eee;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  &:hover {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
  }
  &.water {
    background-color: #4885ed;
    background-image: url('/images/water.png');
  }
  &.fire {
    background-color: #db3236;
    background-image: url('/images/fire.png');
  }
  &.wood {
    background-color: #3cba54;
    background-image: url('/images/wood.png');
  }
  &.metal {
    background-color: #e5e4e2;
    background-image: url('/images/metal.png');
  }
  &.earth {
    background-color: #f4c20d;
    background-image: url('/images/earth.png');
  }
}