.soldier {
  width: 150px;
  height: 250px;
  border-radius: 4px;
  background-color: #eee;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  cursor: pointer;
  &.mini {
    height: 60px;
    width: 60px;
    border-radius: 30px;
    .quantity {
      top: -5px;
      right: -5px;
      border: 1px solid #eee;
      width: 26px;
      height: 26px;
      line-height: 26px;
    }
  }
  &.animate:hover {
    animation: slide-top 1s linear infinite both;
  }
  &:hover {
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.4);
  }
  &.water {
    background-color: #4885ed;
    background-image: url('/images/water_creep.png');
  }
  &.fire {
    background-color: #db3236;
    background-image: url('/images/fire_creep.png');
  }
  &.wood {
    background-color: #3cba54;
    background-image: url('/images/wood_creep.png');
  }
  &.metal {
    background-color: #e5e4e2;
    background-image: url('/images/metal_creep.png');
  }
  &.earth {
    background-color: #f4c20d;
    background-image: url('/images/earth_creep.png');
  }
  .quantity {
    position: absolute;
    right: 7px;
    bottom: 7px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
  }
}

@keyframes slide-top {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-3px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}